.SidebarBody {
    display: flex;
    position: relative;
  }
  
  .sidebarToggleBtn {
    position: fixed;
    bottom: 28px; /* Position it from the bottom */
    right: 42px;  /* Position it from the right */
    font-size: 16px;
    cursor: pointer;
    z-index: 200;
    background: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .sidebarToggleBtn:hover {
    transform: rotate(90deg);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
  }
  
  .nav__cont {
    position: fixed;
    width: 225px;
    bottom: 25px; /* Position it from the bottom */
    right: 40px;  /* Position it from the right */
    height: 88vh;
    z-index: 100;
    background-color: #F6F8FC;
    overflow: hidden;
    transform: translateY(200%); /* Hide the sidebar initially */
    transition: transform 0.5s ease-in-out;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
    color: white;
    padding: 2px;
    border-radius: 10px;
  }
  
  .nav__cont.show {
    transform: translateY(0);
  }


  /* .nav__cont {
    position: fixed;
    width: 225px;
    top: 25px;
    left: 40px;
    height: 88vh;
    z-index: 100;
    background-color: #F6F8FC;
    overflow: hidden;
    transform: translateX(-215%);
    transition: transform 0.5s ease-in-out;
    box-shadow: 4px 7px 10px rgba(0, 0, 0, 0.4);
    color: white;
    padding: 10px;
    border-radius: 10px;
  }
  
  .nav__cont.show {
    transform: translateX(0);
  } */
  
  .nav {
    list-style-type: none;
  }
  
  .nav__items {
    padding-bottom: 2rem;
    font-family: 'Roboto', sans-serif;
  }
  
  .nav__items form {
    display: flex;
    flex-direction: column;
  }
  
  .nav__items input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .nav__items button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .nav__items button:hover {
    background-color: #0056b3;
  }
  
  .nav__items ul {
    list-style-type: none;
    padding: 0;
  }
  
  .nav__items ul li {
    padding: 20px;
    font-size: 12px;
    cursor: pointer;
    background-color: #f8eca0d1;
    margin-bottom: -40px; 
    border-radius: 5px;
    color: #0056b3;
    /* transition: transform 0.3s ease, box-shadow 0.3s ease; */
  }
  
  .nav__items ul li:hover {
    /* transform: scale(1.05);  */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #a0e9f8cf; 
    color: #0056b3;
  }
  
  .stickyNote {
    background: yellow;
    /* height: 18px; */
    /* width: 100px; */
    line-height: 25px;
    text-align: center;
    /* clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 20%, 51% 20%, 46% 0); */
/*     clip-path: polygon(8% 8%, 8% 91%, 92% 91%, 92% 14%, 28% 14%, 21% 8%); */
    clip-path: polygon(8% 14%, 8% 91%, 92% 91%, 92% 14%, 45% 14%, 40% 3%, 20% 3%, 16% 13%);
    filter: drop-shadow(0 0 0.75rem grey);
    margin: 10px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .stickyNote:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  
  .TextareaNote{
    color: rgb(0, 0, 0);
    font-size: 12px;
    text-align: center;
    margin-top: 20px;
    background-color: #E6DC9E;

    /* line-height: 45px; 
    text-align: center;
    clip-path: polygon(0% 0%, 0% 100%, 100% 100%, 100% 20%, 51% 20%, 46% 0);
    margin: -20px 0;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: rgb(230,219,155); */
  }
  
  
